
@{
    ViewBag.Title = "Index";
}

<script>

    function valida(e) {
        tecla = (document.all) ? e.keyCode : e.which;
        //Tecla de retroceso para borrar, siempre la permite
        if (tecla == 8) {
            return true;
        }
        // Patron de entrada, en este caso solo acepta numeros
        patron = /[0-9]/;
        tecla_final = String.fromCharCode(tecla);
        return patron.test(tecla_final);
    }

    function mayus(e) {
        e.value = e.value.toUpperCase();
    }
</script>




<div ng-controller="UsuarioController" class="row">
    <div class="container">
        @*<div class="container body-content">*@
            <div class="row">
                <h2>Prueba CRUD Digital Ware</h2>
                <div growl></div>
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Crear Usuarios</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-3">
                                    <label class="" for="Bd">Tip Documento(*)</label>
                                    <select id="Bd" ng-model="tipodoc" ng-change="CambioDocumento()" class="form-control"
                                            ng-options="item.IdTip as item.Descripcion for item  in TiposDoc " required>
                                        <option value="">Seleccione</option>
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <label for="inlineFormInputGroup">Numero Documento(*)</label>
                                    <div class="input-group ">
                                        <div class="input-group-addon"><i class="fa fa-id-card" aria-hidden="true"></i></div>
                                        <input type="text" ng-model="documento" class="form-control" id="inlineFormInputGroup" placeholder="Cedula" onkeypress="return valida(event)">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label for="inlineFormInputGroup">Nombres</label>
                                    <div class="input-group ">
                                        <div class="input-group-addon"><i class="fa fa-id-card" aria-hidden="true"></i></div>
                                        <input type="text" ng-model="Nombre" class="form-control" id="inlineFormInputGroup" onkeyup="mayus(this)">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label for="inlineFormInputGroup">Apellidos</label>
                                    <div class="input-group ">
                                        <div class="input-group-addon"><i class="fa fa-id-card" aria-hidden="true"></i></div>
                                        <input type="text" ng-model="Apellido" class="form-control" id="inlineFormInputGroup" onkeyup="mayus(this)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-lg-8"></div>
                                <div class="col-lg-2">
                                    <button type="button" ng-click="InsertarUsr()" class="btn btn-primary"> <i class="fa fa-save" aria-hidden="true"></i> &nbsp; Crear  </button>
                                </div>
                                <div class="col-lg-2">
                                    <button class="btn btn-default  pull-right" onclick="location.reload()" type="button"><i class="fa fa-recycle" aria-hidden="true"></i>&nbsp;Limpiar Pantalla</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-warning">
                        <div class="panel-heading">Actualizar Usuarios</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-3">
                                    <label class="" for="Bd">Tip Documento(*)</label>
                                    <select id="Bd" ng-model="tipodocUpd" ng-change="CambioDocumento()" class="form-control"
                                            ng-options="item.IdTip as item.Descripcion for item  in TiposDoc " required>
                                        <option value="">Seleccione</option>
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <label for="inlineFormInputGroup">Numero Documento(*)</label>
                                    <div class="input-group ">
                                        <div class="input-group-addon"><i class="fa fa-id-card" aria-hidden="true"></i></div>
                                        <input type="text" ng-model="documentoUpd" class="form-control" id="inlineFormInputGroup" placeholder="Cedula" onkeypress="return valida(event)">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" ng-click="TraerUsuarios()" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-3" ng-if="row1==true">
                                    <label for="inlineFormInputGroup">Nombres</label>
                                    <div class="input-group ">
                                        <div class="input-group-addon"><i class="fa fa-id-card" aria-hidden="true"></i></div>
                                        <input type="text" ng-model="authobj.Nombres" class="form-control" id="inlineFormInputGroup" onkeyup="mayus(this)">
                                    </div>
                                </div>
                                <div class="col-lg-3" ng-if="row2==true">
                                    <label for="inlineFormInputGroup">Apellidos</label>
                                    <div class="input-group ">
                                        <div class="input-group-addon"><i class="fa fa-id-card" aria-hidden="true"></i></div>
                                        <input type="text" ng-model="authobj.Apellidos" class="form-control" id="inlineFormInputGroup" onkeyup="mayus(this)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-lg-8"></div>
                                <div class="col-lg-2">
                                    <button type="button" ng-click="ActualizaUsuario()" class="btn btn-primary"> <i class="fa fa-save" aria-hidden="true"></i> &nbsp; Actualizar  </button>
                                </div>
                                <div class="col-lg-2">
                                    <button class="btn btn-default  pull-right" onclick="location.reload()" type="button"><i class="fa fa-recycle" aria-hidden="true"></i>&nbsp;Limpiar Pantalla</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-danger">
                        <div class="panel-heading">Eliminar Usuario</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-3">
                                    <label class="" for="Bd">Tip Documento(*)</label>
                                    <select id="Bd" ng-model="tipodocDel" ng-change="CambioDocumento()" class="form-control"
                                            ng-options="item.IdTip as item.Descripcion for item  in TiposDoc " required>
                                        <option value="">Seleccione</option>
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <label for="inlineFormInputGroup">Numero Documento(*)</label>
                                    <div class="input-group ">
                                        <div class="input-group-addon"><i class="fa fa-id-card" aria-hidden="true"></i></div>
                                        <input type="text" ng-model="documentoDel" class="form-control" id="inlineFormInputGroup" placeholder="Cedula" onkeypress="return valida(event)">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" ng-click="TraerUsuariosDel()" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-3" ng-if="row3==true">
                                    <label for="inlineFormInputGroup">Nombres</label>
                                    <div class="input-group ">
                                        <div class="input-group-addon"><i class="fa fa-id-card" aria-hidden="true"></i></div>
                                        <input type="text" ng-model="authobj.Nombres" class="form-control" id="inlineFormInputGroup" onkeyup="mayus(this)" readonly="readonly">
                                    </div>
                                </div>
                                <div class="col-lg-3" ng-if="row4==true">
                                    <label for="inlineFormInputGroup">Apellidos</label>
                                    <div class="input-group ">
                                        <div class="input-group-addon"><i class="fa fa-id-card" aria-hidden="true"></i></div>
                                        <input type="text" ng-model="authobj.Apellidos" class="form-control" id="inlineFormInputGroup" onkeyup="mayus(this)" readonly="readonly">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-lg-8"></div>
                                <div class="col-lg-2">
                                    <button type="button" ng-click="BorraUsr()" class="btn btn-primary"> <i class="fa fa-save" aria-hidden="true"></i> &nbsp; Eliminar  </button>
                                </div>
                                <div class="col-lg-2">
                                    <button class="btn btn-default  pull-right" onclick="location.reload()" type="button"><i class="fa fa-recycle" aria-hidden="true"></i>&nbsp;Limpiar Pantalla</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        @*</div>*@
        </div>
    </div>





